---
const teams = await fetch(
  `https://apiv2.allsportsapi.com/football/?&met=Teams&leagueId=302&APIkey=${process.env.ALL_SPORT_API_KEY}`
);

const jsonTeams = await teams.json();
---

<teams>
  <h1>Equipos</h1>
  <div class="teams">
    {
      jsonTeams.result.map((team) => {
        return (
          <div class="team">
            <a href={`/teams/${team.team_key}`}>{team.team_name}</a>
            <img
              transition:name={team.team_name}
              src={team.team_logo}
              alt={team.team_name}
            />
          </div>
        );
      })
    }
  </div>
</teams>

<style>
  .teams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 40px;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    background: var(--accent-gradient);
    transition: all 0.5s ease-in-out;
    animation: teamScrollAnimation linear forwards;
    animation-timeline: view(block 80% auto);
  }

  @keyframes teamScrollAnimation {
    from { scale: 0; opacity: 0; backdrop-filter: blur(50px); }
    to { scale: 1; opacity: 1; backdrop-filter: blur(0px); }
  }
 

  .team:hover {
    background: var(--accent-gradient-hover);
    transition: all 0.8s ease-in-out;

    img {
      transform: scale(1.1);  
    }
  }

  .playes {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    max-width: 100%;
    padding: 30px 10px;
  }

  .player {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: x-small;
    font-weight: bold;
    padding: 20px;
  }

  .player img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 0.5rem;
    color: var(--light-default-color);
    background-color: var(--main-color);
    transition: all 0.3s ease;
    margin-top: 10px;
  }

  a:hover {
    background-color: var(--hover-default-color);
    color: var(--dark-default-color);
    margin-top: -5px;
    rotate: 3deg;
    border-bottom: 5px solid var(--border-default-color);
  }
</style>
